* {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

body {
    background-color: #444;
    color: yellow;
    font-size: 1.2rem;
}

h1 {
    font-size: 4.3em;
}

header {
    text-align: center;
    height: 200px;
    align-content: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100dvh - 200px);
}

.navLinks {
    display: flex;
    gap: 5px;
}

.navItems {
    padding: 10px 15px;
    background-color: yellow;
    border-radius: 5px;
}

.navItems:hover {
    background-color: yellowgreen;
}

.horloge {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#horloge {
    font-size: 10rem;
}

.set-alarm {
    margin: 20px 0;
}

input[type="time"] {
    padding: 10px;
    font-size: 20px;
    background-color: #333;
    color: #f1c40f;
    border: none;
    outline: none;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #f1c40f;
    color: #333;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #d4ac0d;
}

.alarms {
    margin-top: 20px;
}

.alarms h4 {
    font-size: 24px;
    margin-bottom: 10px;
}

.alarms ul {
    list-style-type: none;
    padding: 0;
}

.alarms ul li {
    font-size: 20px;
    margin: 5px 0;
}

.chronometre {
    display: flex;
    flex-direction: column;
}

#chronometre {
    text-align: center;
}

.minuteur {
    display: flex;
    flex-direction: column;
}

.btn-timer {
    margin-top: 10px;
}

#display {
    text-align: center;
    font-size: 4.5rem;
}